# Created by .ignore support plugin (hsz.mobi)
/ghostdriver.log
/json_dir/
/use/file_pack/申请人名单大全.xlsx
/use/申请人名单大全1.xlsx
/use/file_pack/hou30w.xlsx
/use/ghostdriver.log
/use/file_pack/科技金融-国外（来源36kr）.xlsx
/use/file_pack/国外-科技金融100家.xlsx
/use/file_pack/科技金融-雄安项目企业清单.xlsx
/use/file_pack/国外-车联网.xlsx
/use/file_pack/国外-科技金融100家(2).xlsx
/test/test.py
!/test/test.py
